            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="#">Trang Chủ</a></li>
                            <li class="active">Tài Khoản</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
            <div class="page-section mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                            <!-- Login Form s-->
                            <form name='login'>
                                <div class="login-form">
                                    <h4 class="login-title">Đăng nhập</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb-20" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                                            <label>Địa chỉ Email *</label>
                                            <input class="mb-0" name='username' type="email" placeholder="Địa chỉ Email" ng-model="vm.email" required  >
                                            <!-- <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                                                <div ng-message="required">Username is required</div>
                                            </div> -->
                                            <span ng-if='login.username.$error.required' class='text-success'>Trường này là bắt buộc</span>

                                        </div>
                                        <div class="col-12 mb-20" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                                            <label>Mật khẩu *</label>
                                            <input class="mb-0" name='password' type="password" placeholder="Mật Khẩu" ng-model="vm.password" required >
                                            <!-- <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                                                <div ng-message="required">Password is required</div>
                                            </div> -->
                                            <span ng-if='login.password.$error.required' class='text-success'>Trường này là bắt buộc</span>
                                        </div>
                                        <div class="col-12">
                                                <div class="g-recaptcha mb-3" data-sitekey="6LdMebwUAAAAALqgz2YUV1RJGUO4ZBoW8n-DKNjA"></div> 
                                        </div>
                                        
                                        <div class="col-md-8">
                                            <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                                <input type="checkbox" id="remember_me">
                                                <label for="remember_me">Ghi nhớ mật khẩu</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                            <a data-toggle="modal" data-target="#forgotModal"> Quên mật khẩu?</a>
                                              <!-- Modal -->
                                              <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="forgotModalLabel">Đổi mật khẩu</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                       <p>Please enter your email to confirm</p>
                                                       <input class="mb-0" type="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" ng-click="vm.login()" ng-disabled="vm.loading" class="register-button mt-0">Đăng nhập</button>
                                            <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                            
                                        </div>
                                        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                            <form name='register'>
                                <div class="login-form">
                                    <h4 class="login-title">Đăng ký</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-20">
                                            <label>Họ & tên lót</label>
                                            <input class="mb-0" type="text" name='last_name' ng-model='last_name' placeholder="Nguyễn Văn " required>
                                            <span ng-if='register.last_name.$error.required' class='text-success'>Trường này là bắt buộc</span>
                                        </div>
                                        <div class="col-md-6 col-12 mb-20">
                                            <label>Tên</label>
                                            <input class="mb-0" type="text" name='fist_name' ng-model='fist_name' placeholder="An" required>
                                            <span ng-if='register.fist_name.$error.required' class='text-success'>Trường này là bắt buộc</span>

                                        </div>
                                        <div class="col-md-12 mb-20">
                                            <label>Địa chỉ email *</label>
                                            <input class="mb-0" type="email" name='email'  ng-model="email" placeholder="abc@gmail.com" required>
                                            <span ng-if='register.email.$error.required' class='text-success'>Trường này là bắt buộc</span>
                                        </div>
                                        <div class="col-md-12 mb-20">
                                            <label>Địa chỉ *</label>
                                            <input class="mb-0" type="text" name='address'  ng-model="address" placeholder="Số 32, Đường Nguyễn Chí Thanh, Tp.Thủ Dầu Một, Bình Dương" required>
                                            <span ng-if='register.address.$error.required' class='text-success'>Trường này là bắt buộc</span>

                                        </div>
                                        <div class="col-md-12 mb-20">
                                            <label>Số điện thoại *</label>
                                            <input class="mb-0" name='phone' type="text" ng-pattern='/^\d{10,}$/' ng-model="phone" placeholder="0986796745" required>
                                            <span ng-show='register.phone.$error.pattern' class='text-danger'>Số điện thoại không đúng!</span>
                                            <span ng-if='register.password.$error.required' class='text-success'>Trường này là bắt buộc</span>

                                        </div>
                                        <div class="col-md-6 mb-20">
                                            <label>Mật khẩu *</label>
                                            <input class="mb-0" type="password" name='password' ng-pattern='/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/' ng-model="password" placeholder="Mật khẩu" required>
                                            <span ng-show='register.password.$error.pattern' class='text-danger'>Tối thiểu tám ký tự, ít nhất một chữ cái viết hoa, một chữ cái viết thường và một số</span>
                                            <span ng-if='register.password.$error.required' class='text-success'>Trường này là bắt buộc</span>
                                        </div>
                                        <div class="col-md-6 mb-20">
                                            <label>Xác nhận mật khẩu *</label>
                                            <input class="mb-0" type="password"  ng-model='confirmPass' placeholder="Nhập lại mật khẩu">
                                            <span class="text-danger">{{errorConfirm}}</span>
                                        </div>
                                        <div class="col-12">
                                            <div class="g-recaptcha mb-3" data-sitekey="6LdMebwUAAAAALqgz2YUV1RJGUO4ZBoW8n-DKNjA"></div> 
                                        </div>
                                        
                                        <div class="col-12">
                                            <div ng-if='errorEmail' class="alert alert-primary mt-1" role="alert">
                                                <span class="text-danger">{{errorEmail}}</span>
                                            </div> 
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" ng-click="vm.signup()" class="register-button mt-0">Đăng ký</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          