<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Xác nhận đơn hàng và thanh toán</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Checkout Area Strat-->
<div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion">
                    <h3>Bạn có phiếu giảm giá? <span data-toggle="collapse" data-target="#collapseCoupon" aria-expanded="false" aria-controls="collapseExample">Nhấn vào đây để nhập mã của bạn</span></h3>
                    <div class="collapse multi-collapse" id="collapseCoupon">
                        <div class="card card-body">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input placeholder="Coupon code" type="text">
                                        <input value="Apply Coupon" type="submit">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Accordion End-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>Chi tiết hóa đơn</h3>
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Họ và tên<span class="required"></span></label>
                                    <input placeholder="Tên của bạn" name="buyer" type="text" ng-model="buyer">
                                    
                                </div>
                            </div>
                            
                            
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Địa chỉ<span class="required"></span></label>
                                    <textarea name="address" id="" cols="10" rows="5" ng-model="address" placeholder="Số nhà, phường, huyện/quận, tỉnh/thành"></textarea>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Địa chỉ email<span class="required"></span></label>
                                    <input placeholder="" type="email" name="email" ng-model="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Số điện thoại<span class="required"></span></label>
                                    <input type="text" ng-model="phone" name="phone">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Ghi chú khác<span class="required"></span></label>
                                    <textarea name="notes" cols="10" rows="5" ng-model="notes"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Đặt hàng</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Sản phẩm</th>
                                    <th class="cart-product-total">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item" ng-repeat='item in carts.items'>
                                    <td class="cart-product-name">{{item.product.name}}<strong class="product-quantity">
                                            × {{item.quantity}}</strong></td>
                                    <td class="cart-product-total"><span class="amount">{{item.product.price}}đ</span></td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Giỏ hàng</th>
                                    <td><span class="amount">{{carts.subTotal}}đ</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Tổng đơn hàng</th>
                                    <td><strong><span class="amount">{{carts.subTotal}}đ</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="#payment-1">
                                        <h5 class="panel-title">
                                            <a class="" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                Chuyển tiền qua ngân hàng.
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Thanh toán trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng ID đơn hàng của bạn làm tài liệu tham khảo thanh toán. Đơn hàng của bạn đã thắng được vận chuyển cho đến khi tiền được xóa trong tài khoản của chúng tôi.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-2">
                                        <h5 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Thanh toán khi nhận hàng
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Make your payment directly into our bank account. Please use your Order
                                                ID as the payment reference. Your order won’t be shipped until the funds
                                                have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-3">
                                        <h5 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Bạn không cần trả phí giao dịch khi gửi thanh toán với PayPal. Người nhận sẽ chịu phí này. Nếu bạn gửi thanh toán ra nước ngoài bằng một ngoại tệ khác, một khoản phí chuyển đổi nhỏ sẽ được áp dụng.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <input value="Đặt hàng"  ng-click="doCheckout()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>