<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang Chủ</a></li>
                <li class="active">Giỏ Hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">Xóa</th>
                                    <th class="li-product-thumbnail">Hình ảnh</th>
                                    <th class="cart-product-name">Sản phẩm</th>
                                    <th class="li-product-price">Đơn giá(VNĐ)</th>
                                    <th class="li-product-quantity">Số lượng</th>
                                    <th class="li-product-subtotal">Tổng(VNĐ)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='item in carts.items'>
                                    <td class="li-product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                    <td class="li-product-thumbnail"><a href="#!single-product/{{item.product.id}}"><img
                                                src="/images/product/laptopnew-asus--vivobook-a512-6.jpg" style="width: 15em;
                                                height: 15em;" alt="Li's Product Image"></a></td>
                                    <td class="li-product-name"><a href="#">{{item.product.name}}</a></td>
                                    <td class="li-product-price"><span class="amount">{{item.product.price}}</span></td>
                                    <td class="quantity">
                                        <label>Số lượng</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" ng-model="item.quantity" value="{{item.quantity}}" type="text">
                                            <div class="dec qtybutton" ng-click="decreaseQ(item, item.id)"><i class="fa fa-angle-down" ></i></div>
                                            <div class="inc qtybutton" ng-click="increaseQ(item, item.id)"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{item.product.price*item.quantity}} </span></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                        placeholder="Mã giảm giá" type="text">
                                    <input class="button" name="apply_coupon" value="Áp dụng" type="submit">
                                </div>
                                
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Tổng số giỏ hàng</h2>
                                <ul>
                                    <li>Giảm giá<span></span></li>
                                    <li>Tổng<span>{{carts.subTotal}} VNĐ</span></li>
                                </ul>
                                <a href="#!checkout">Xác nhận đơn hàng và thanh toán</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->
<!-- Begin Footer Area -->