/* your styles go here */
.cot1{
    min-height: 150px;
    margin: 0px;
}
.cot2{
    min-height: 150px;
   
}
.cot3{
    min-height: 150px;

}
.cot4{
    min-height: 150px;
   
}
.sanpham{
	float:left;
	margin-left:1%;
	padding-left:2%;
}
.row#row1{
  width: 794px;
}
.container#container1{
    width: 794px !important;
}
.form-group#upload{
    width: 112px;
    height: 30px;
}
.form-control-file#uploadimage{
    width: 100px;
}